{% extends "game/base.html" %}
{%load static%}
{% block content %}

<div class="card">
    <img class="card-img-top" src="{% static 'game/images/welcomeimg.png' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Welcome to Everdell Food Truck Tycoon</h5>
        <p class="card-text">We extend a warm thank you to all participants for joining us on this exciting journey.
            Your
            participation is incredibly valuable as we explore the correlation between education, experience,
            and
            the outcomes of our simulated business venture. Together, we will uncover insights that can
            positively
            impact entrepreneurial success. With your diverse perspectives and unique strategies, we are
            confident
            that this simulation will exceed our expectations. Get ready to embrace the challenges, make
            informed
            decisions, and embark on an exhilarating adventure towards entrepreneurial excellence!</p>
         <!--<a href="#" class="btn btn-primary">Launch a New Food Truck Venture</a>
        <a href="#" class="btn btn-primary">How it Works</a>
        <a href="#" class="btn btn-primary">Legal</a>
       <a href="{%url 'new_scenerio'%}" class="btn btn-warning">New Scenerio</a>-->
    </div>
</div>

<br>
<h3>Continue Business</h3>
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Business Name</th>
            <th scope="col">Select</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {%for b in businesses%}
        <tr>
            <th scope="row">{{b.foodTruckName}}</th>
            <td><a href="{%url 'player_dashboard' b.pk%}" class="btn btn-primary">Continue</a></td>
            <td><a href="{%url 'delete_business' b.pk%}" class="btn btn-danger">Delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<br>
<h3>Current Scenerios</h3>
<br>

<div class="card-group">
    {%for scenerio in scenerios %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'game/images/homeft.png' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{scenerio.name}}</h5>
            <p class="card-text">{{scenerio.description}}</p>
            <a href="{%url 'new_business' scenerio.pk%}" class="btn btn-primary">New</a>
            {%if scenerio.gm == user%}
            <a href="{%url 'scenerio_maker' scenerio.pk%}" class="btn btn-warning">Edit</a>
            {%endif%}
        </div>
    </div>
    {% endfor %}
</div>


{%endblock content%}