{% extends "game/base.html" %}
{%load static%}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>THANK YOU!</h1>
        <p>Thanks for paritcipating. I hope you enjoyed this simulation! Checkout your score below, and feel free to save this page.</p>
        <h3>Your final score was {{report.final_score | floatformat:0}}</h3>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Business Name</th>
                    <th scope="col">Quality Score</th>
                    <th scope="col">Price Score</th>
                    <th scope="col">Total Score</th>
                </tr>
            </thead>
            <tbody>
                {%for r in reports%}
                <tr>
                    <td>{{r.business.foodTruckName}}</td>
                    <td>{{r.business.quality | floatformat:2}}</td>
                    <td>{{r.business.priceStrat | floatformat:2}}</td>
                    <td>{{r.final_score}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    
</div>
{%endblock content%}