{% extends "game/base.html" %}
{%load static%}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Market Research Report</h1>
        <p>Welcome to the Food Truck Rally - we are very glad you are here! The goal of this simulation is to sell meals
            to hungry patrons. First - we should discuss the different demographics that you'll be selling to in this
            scenerio!</p>
        <p>Demographics are made of preferences and sensitivities</p>
        <h4>Preferences</h4>
        <p>Preferences are the desired food types of each demographics. The higher the preference, the more of that food
            type the demographic will purchase!</p>
        <h4>Sensitivites</h4>
        <p>Sensitivites measure how responsive the demographic is to certain strategies. For example, if a demographic
            has a high price-sensitivey, the'll respond more positively to low-price food. Likewise, if they have a high
            quality sensitivity, they'll respond well to high quality meals.</p>
        <h4>Strategy</h4>
        <p>When reviewing the following demographics, start to think... Which food type do I want to sell, and what
            strategy can I deploy to maximize my business. </p>
        <p>Important Note: You will select your food type in the next step. You will NOT select a demographic. You will
            have customers from ALL demographics buying meals from you, so it's important to think of the market as a
            whole, when deciding your strategy.</p>
        <p>Example Strategy: Sell High-Quality Italian Food, while focusing on large margins, and online marketing to
            target two demographics that are highly quality and online marketing sensitive.</p>
        <p><strong>Read the demographic information below.</strong> When you are confident with your big-picture strategy, press the button below!"</p>
        <a href="{%url 'edit_identity' business.pk%}" class="btn btn-primary btn-sm">Develop your Food Trucks Brand and Strategy!</a>
        <a href="{%url 'player_dashboard' business.pk%}" class="btn btn-primary btn-sm">Back to the Dashboard</a>

    </div>
    {%for ms in market_segments%}
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5>
                {{ms.name}}
            </h5>
        </div>
        <div>
            <div class="card-body">
                <h5>Community Population: {{ms.population}}</h5>
                <p>{{ms.description}}</p>
                <div class="row">
                    <div class="col">
                        <h5>Food Preferences</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Segment</th>
                                    <th scope="col">Preference</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Comfort Food</th>
                                    <td>
                                        {%if .2 > ms.comfortFoodPreference%}
                                        Low
                                        {%elif ms.comfortFoodPreference > .39%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                <tr>
                                    <th scope="row">Italian Inspired</th>
                                    <td>
                                        {%if .2 > ms.italianFoodPreference%}
                                        Low
                                        {%elif ms.italianFoodPreference > .39%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Asian Inspired</th>
                                    <td>
                                        {%if .2 > ms.asianFoodPreference%}
                                        Low
                                        {%elif ms.asianFoodPreference > .39%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Dessert Food</th>
                                    <td>
                                        {%if .2 > ms.dessertPreference%}
                                        Low
                                        {%elif ms.dessertPreference > .39%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Smoothies</th>
                                    <td>
                                        {%if .2 > ms.smoothieFoodPreference%}
                                        Low
                                        {%elif ms.smoothieFoodPreference > .39%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <h5>Sensitivites</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Sensitivity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Price</th>
                                    <td>
                                        {%if .33 > ms.priceSensitivity%}
                                        Low
                                        {%elif ms.priceSensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                <tr>
                                    <th scope="row">Quality</th>
                                    <td>
                                        {%if .33 > ms.qualitySensitivity%}
                                        Low
                                        {%elif ms.qualitySensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Weather</th>
                                    <td>
                                        {%if .33 > ms.weatherSensitivity%}
                                        Low
                                        {%elif ms.weatherSensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Print Marketing</th>
                                    <td>
                                        {%if .33 > ms.printMarketingSensitivity%}
                                        Low
                                        {%elif ms.printMarketingSensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Word of Mouth Marketing</th>
                                    <td>
                                        {%if .33 > ms.wordOfMouthMarketingSensitivity%}
                                        Low
                                        {%elif ms.wordOfMouthMarketingSensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Online Marketing</th>
                                    <td>
                                        {%if .33 > ms.onlineMarketingSensitivity%}
                                        Low
                                        {%elif ms.onlineMarketingSensitivity > .66%}
                                        High
                                        {%else%}
                                        Medium
                                        {%endif%}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
    <br>
    <br>
</div>
{%endblock content%}